.header{height:82px;border-bottom:1px solid #ddd;padding:10px 0px;}
.log_head_left{position:relative;}
.log_head_left>a.logo{display:block;width:82px;height:82px;background:url("../public/Picimg/zhongcai_03.png") no-repeat center;float:left;}
.log_head_left>span{display:block;font-size:20px;float:left;position:absolute;left:100px;bottom:5px;width:65px;color:#999;}
.log_head_right{font-size:16px;color:#999;}
.log_head_right>span{line-height:82px;float:left;}
.log_head_right>a{display:block;width:64px;height:30px;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
float:left;text-align:center;line-height:30px;margin-top:24px;margin-left:10px;font-size:14px;}
/*头部结束*/
.body{background:#F5FBFD;}
.wrap{padding: 0 9px 30px;width: 962px;}
.login-logo{float: left;margin-top: 49px;width: 623px;height: 337px;background:url("../public/Picimg/login-logo_30a0915.png") no-repeat;}
.login-area{float: right;position: relative;margin-top: 49px;padding: 20px 14px;width: 279px;min-height: 247px;border: 1px solid #eee;background: #fff;_height: 247px;}
.login-area>.title{height: 25px;line-height: 25px;font-size: 17px;color: #666;font-weight:normal;}
.login{margin-top:24px;}
.pass-smsSwitchWrapper{text-align:right;margin-bottom:10px;}
.pass-smsSwitchWrapper>a{background:url("../public/Picimg/smsSwitchPhone_68b31bb.png") no-repeat;padding-left: 15px;color: #666;}
.pass-form-item-userName{margin-bottom:20px;position:relative;}
.pass-label-userName{background:url("../public/Picimg/user_z_fe074f3.png") no-repeat -366px -97px;position:absolute;top: 13px;left: 10px;
display:block;height:18px;padding:0px 0px 0px 18px;}
.pass-label-pass{background:url("../public/Picimg/user_z_fe074f3.png") no-repeat -366px -135px;}
.pass-text-inpu{margin: 0;padding: 11px 20px 11px 35px;width: 222px;height: 16px;line-height: 16px;color: #999;border: 1px solid #F0F0F0;background-color: #fff;}
.pass_input{margin:0;vertical-align: middle;}
.pass-form-item-memberPass{margin-bottom:30px;line-height:14px;}
.pass-form-item-memberPass>label>span{color: #666; margin-left: 5px;}
.pass-form-item-memberPass>span.fr>a{color:#73ADC9}
.pass-button{width: 279px;height: 39px;font-family: "Microsoft Yahei";border-bottom: 1px solid #1e89e0 !important;background: #1e89e0;font-size: 14px;  font-weight: 700;color: #fff;cursor: pointer;}
.tang-pass-login-phoenix{margin-top:18px;}
.tang-pass-login-phoenix>ul>li{float:left;width:46px;}
.tang-pass-login-phoenix>ul>li>a{padding-left: 24px;height: 24px;display: block;margin-right:22px;color: #00C;text-decoration: underline;
    cursor: pointer;font-size: 12px;list-style: none;}
.phoenix-btn-item{background:url("../public/Picimg/pass_login_icons_e059c37.png") no-repeat -88px 0px;}
.bd-acc-tsina{background:url("../public/Picimg/pass_login_icons_e059c37.png") no-repeat -64px 0px;}
.bd-acc-tqq{background:url("../public/Picimg/pass_login_icons_e059c37.png") no-repeat -112px 0px;}
/*底部开始*/
.w-footer-mini{border-top:5px solid #ddd;padding: 40px 0 20px;}
.links{text-align:center;color: #666;}
.link{color: #666;}
.links>span{margin: 0 12px;color: #ccc;}
.links>span.tel{color:#1e89e0;}
.site-info{line-height: 40px;font-family: SimSun;color: #999;margin-top: 27px;text-align: center;}
/*登陆结束*/
/*注册开始*/
.login_left{width:980px;margin:0 auto;border-bottom:1px solid #ddd;padding-top:10px;}
.login_left>.logo{height:82px;width:82px;float:left;}
.proven{font-size:16px;}
.proven>span{line-height:82px;float:left;}
.proven>a.log{display:block;float:left;width:64px;height:32px;border:1px solid #ddd;font-size:12px;text-align:center;line-height:32px;margin-top:20px;
    -webkit-border-radius:5px; -moz-border-radius:5px;border-radius:5px;margin-left:10px;}
.content{width:980px;margin:20px auto 0;}
.log_mein_left{width:720px;position:relative;overflow: hidden;margin:0 auto;}
.log_mein_left>form>div{height:40px;}
.pass_username{margin-bottom:20px;position:relative;}
.friendship{position:absolute;left:445px;top:2px;color:#999;display:none;}
.error{position:absolute;left:445px;top:10px;color:red;display:none;}
.error_cu{position:absolute;left:445px;top:10px;color:red;display:none;}
.error>p>span{display:inline-block;height:17px;width:17px;background:url("../public/Picimg/s0.meituan.net.png") no-repeat 0px -296px;vertical-align: -3px;margin-right:10px;}
.error_cu>p>span{display:inline-block;height:17px;width:17px;background:url("../public/Picimg/s0.meituan.net.png") no-repeat 0px -296px;vertical-align: -3px;margin-right:10px;}
.firen{top:10px;}
.correct{position:absolute;left:445px;top:10px;width:17px;height:17px;background:url("../public/Picimg/s0.meituan.net.png") no-repeat 0px -453px;display:none;}
.pass_username>input.border{border:1px solid #1e89e0}
.pass_username>div.pass{border:1px solid #ddd;top:-5px;padding:0px 10px;line-height:20px;background:#efefef;}
.pass_username>div.pass>span.sj{display:block; width: 0;height: 0; border-top: 5px solid transparent;border-right: 10px solid #ddd;
    border-bottom: 5px solid transparent;position:absolute;left:-9px;top:10px;}
.pass_username>span.title{font-size:16px;line-height:40px;width:65px;height:40px;display:inline-block;float: left;margin-right:20px;text-align:right;}
.pass-text-input-userName{display:inline-block;position: relative;float: left;height: 16px;width: 328px;padding: 11px 10px;margin-right: 10px;border: 1px solid #ddd;font-size: 14px;color: #666;}
.pass-form-item-isAgree{margin-left:75px;margin-bottom:20px;}
.pass-form-item-isAgree>.pass-checkbox-isAgree{vertical-align: middle;}
.pass-form-item-isAgree>label{color: #666;font-size: 12px;margin-left: 5px;}
.pass-form-item-isAgree>a{color: #1b66c7;}
.intension{height:40px;width:201px;border:1px solid #ddd;margin-bottom:20px;margin-left:85px;}
.intension>a{display:inline-block;width:65px;height:40px;text-align:center;line-height:40px;font-size:16px;}
.intension>a.gray{background:#ddd;}
.intension>a.red{background:red;color:#fff;}
.intension>a.orange{background:orange;color:#fff;}
.intension>a.green{background:green;color:#fff;}
.log_mein_left>form>.item-submit{height:50px;position:relative;left:75px;}
.item-submit>.btn_submit{width: 350px;height:50px;background:#1e89e0;line-height:50px;color:#fff;font-size:18px;cursor: pointer;}
.verify{margin-left:85px;margin-bottom:20px;}
.verification{width:200px;height:40px;cursor: pointer;}
/*注册结束*/