/*重置样式*/
ul,li,ol,body,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,div,img,span,i,a,b,strong{margin:0;padding:0;font-weight: inherit;}
img,input,textarea,a{border:none;outline:none;}
a{text-decoration: none;color:#000;}
li{list-style:none;}
img{display: block}
i,em{font-style: normal;}
textarea{resize:none;}
/*公用样式*/
body{position: relative;font-size:12px;background:#fff;}
.inner{width:1100px;margin:0 auto;position: relative}
.clearfix:after{content:"";display: block;height:0;clear:both;font-size:0;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.red{color:red;}