<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>众彩生活_用户登陆</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../css/newstyle.css">
    <script type="text/javascript" src="../../public/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../public/js/zcsh.js"></script>
    <script src="../../js/ieif.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../public/js/jquery-1.11.2.min.js"></script>
</head>
<body>
<header class="header">
    <div class="inner clearfix">
        <div class="log_head_left fl">
            <a href="javascript:" class="logo"></a>
            <span>登陆</span>
        </div>
        <div class="log_head_right fr">
            <span>还没有众彩账号</span>
            <a href="login.html">注册</a>
        </div>
    </div>
</header>
<div class="body">
    <div class="wrap inner clearfix">
        <div class="login-logo"></div>
        <div class="login-area">
            <div class="title">登陆众彩生活</div>
            <div class="login">
                <form>
                    <div class="pass-smsSwitchWrapper">
                        <a class="pass-sms-btn" title="短信快捷登录">短信快捷登录</a>
                    </div>
                    <div class="pass-form-item-userName">
                        <label class="pass-label-userName"></label>
                            <input type="text" class="pass-text-inpu" name="text" placeholder="手机/邮箱/用户名">
                    </div>
                    <div class="pass-form-item-userName">
                        <label class="pass-label-pass pass-label-userName"></label>
                        <input type="password" class="pass-text-inpu" name="text" placeholder="密码">
                    </div>
                    <div class="pass-form-item-memberPass">
                    <label>
                        <input type="checkbox" checked="checked" class="pass_input">
                        <span>下次自动登陆</span>
                    </label>
                        <span class="fr">
                            <a href="javascript:">登陆遇到问题</a>
                        </span>
                    </div>
                    <div>
                        <input value="登录" class="pass-button" type="submit">
                    </div>
                </form>
            </div>
            <div class="tang-pass-login-phoenix">
                <ul>
                    <li class="bd-acc-qzone"><a href="javascript:" class="phoenix-btn-item" title="QQ账号"></a></li>
                    <li ><a href="javascript:" class="bd-acc-tsina" title="QQ账号"></a></li>
                    <li><a href="javascript:" class="bd-acc-tqq" title="QQ账号"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="w-footer-mini">
    <div class="inner">
        <div class="links">
            <a href="javascript:" class="link">关于众彩生活</a><span>|</span>
            <a href="javascript:" class="link">常见问题</a><span>|</span>
            <a href="javascript:;" class="link" id="j-tttel">违规投诉&amp;廉政举报</a><span>|</span>
            <a href="javascript:" class="link">用户协议</a><span>|</span>
            客服电话：<span class="tel">4006-888-887</span>（每天9:00 - 22:00）</div>
    </div>
    <div class="site-info">
        <span class="copyright">©
        </span>2016&nbsp;zcsh123.com&nbsp;
        <a href="http://www.miitbeian.gov.cn" class="link" target="_blank">蜀ICP证030173号</a>
        &nbsp;蜀公网安备11010802014106号
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
       $(".pass-text-inpu").blur(function(){
            
       })
    })
</script>